@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');
:root{scroll-behavior:smooth;}
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font: normal 18px 'Open Sans', sans-serif;
    background: #fafafa;
    color: #333;
}

main {
    min-height: 100%;
    position: relative;
}

header {
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#website-title {
    font: normal 50px 'Playfair Display SC', serif;
    text-align:center;
}

nav {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

nav a {
    flex-grow: 1;
    text-align: center;
    padding: 1em;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    height: 2px;
    transform: scaleX(0);
    background: #333;
    transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
}

nav a:hover::after{
    transform: scaleX(1)
}
div {
    padding: 10px;
}

.footer {
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}
iframe {
    width: 50%;
    border: none;
}
#visualize_all {
    width: 100%;
    border: none;
}
#text-container {
    text-align: center;
    padding: 15px;
}
#main-container {
    display: contents;
}
#text-title {
    font-size: 25px;
    padding: 5px;
}
#text-content {
    text-align: justify;
}
#main-text {
    text-align: justify;
    padding: 15px;
}
#main-text h2 {
    padding: 5px;
}
#main-text p {
    padding: 5px;
}

.scroll-top {
    position: absolute;
    top: 120vh;
    bottom: 2rem;
    right: 1rem;
}

.scroll-top__link {
    position: -webkit-sticky;
    position: sticky;
    top: 85vh;
    text-decoration:none;
    border-radius: .25rem;
    background-color: #333;
    padding:1rem;
    color: white;
    font-weight:700;
    opacity:.3;
}

.scroll-top__link:hover {
    opacity: initial;
}



input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3a3939;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    padding-top: 15px;
    width: 80%;
}

#main-img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
#container-title {
    text-align: center;
}
#container-dataset {
    display: flex;
}
#container-dataset p {
    width: 100%;
    margin: auto;
    padding: 20px;
}